<div class="fill" layout="column">
    <div class="dropdownWrapper" layout="row">
        <div class="dropdown" ng-repeat="count in [] | range:vm.playerCount">
            <md-input-container>
                <md-select ng-change="vm.startPlayer((count+1), someModel1)" ng-model="someModel1">
                    <md-select-header>
                        <span> Neighborhoods - </span>
                    </md-select-header>
                    <md-option ng-value="opt" ng-repeat="opt in vm.files">{{ opt }}</md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>
    <div class="player" layout="row">
        <div flex id='{{"player" + (count+1)}}' ng-repeat="count in [] | range:vm.playerCount/2"></div>
    </div>
    <div class="player" layout="row">
        <div flex id='{{"player" + (count+1+vm.playerCount/2)}}' ng-repeat="count in [] | range:vm.playerCount/2"></div>
    </div>
</div>