/* app css stylesheet */

md-content {
    overflow: hidden;
}

.fill {
    width: 100%;
}

.dropdownWrapper {
    margin: auto;
}

.dropdown {
    margin-left: 5px;
    margin-right: 5px;
}

.player div {
    margin: auto;
    width: 100%;
    padding: 10px;
}